<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Galeria está online!Que beleza!</title>
    <p>Este conteúdo está vindo de um arquivo HTML real.</p>
</head>
<body>
    <h1>🌊 Personagens de Avatar 🌪️</h1>
    <ul>
        {% for personagem in lista_avatar %}
            <li>
                <strong>Nome:</strong> {{ personagem.nome }} | 
                <strong>Dobra:</strong> {{ personagem.elemento }}
            </li>
        {% empty %}
            <li>Nenhum personagem encontrado.</li>
        {% endfor %}
    </ul>
</body>
</html>